body{
    width:100%;
    height:100%;
    overflow:inherit;
    background-color:black;
    font-family:impact;
    color:black;
}
#startSimulation{
    border:1px solid #0ff;
    color:#99ffcc;
    text-align:center;
    margin-top:220px;
    margin-left:40%;
    width:300px;
    height:300px;
    border-radius:40%;
    background-color:#0ff;
    font-size:21px;
    cursor:pointer;
    opacity:1;
    box-shadow: 0 0 1000px #0ff;
}
#sim{
    margin-top: 135px;   
}
#startSimulation:hover{
    box-shadow:0 0 100px #0ff;
    font-size:30px;
    border:4px solid #0ff;
    color:yellow;
}
#controls{
    position: absolute;
    width:100px;
    height: 590px;
    top:8%;
    left: 4%;
}

#canvas {
    position:absolute;
    top:8%;
    left:30%;
    border: 2px solid gray;
    display: block;
    margin: 15px auto;
    /*fix opacity*/
    opacity:0;
    z-index:-1;
    cursor:pointer;
}
#canvas:hover{
    box-shadow:0 0 10px white;    
}

#fast{
    text-align: center;
}

#control{
    position:absolute;
    border:4px solid none;
    width: 100px;
    height:100px;
    border-radius:100%;
    text-align:center;
    cursor:pointer;
    /*fix opacity*/
    opacity:0;
    top:10px;
    color:white;
}
#control:hover{
    box-shadow:0 0 10px white;
    
}

#control2{
    position:absolute;
    border:4px solid none;
    width: 100px;
    height:100px;
    top:125px;
    border-radius:100%;
    text-align:center;
    cursor:pointer;
    /*fix opacity*/
    opacity:0;
    color:white;
}

#control2:hover{
    box-shadow:0 0 10px white;    
}
#control3{
    position:absolute;
    border:4px solid none;
    width: 100px;
    height:100px;
    top:240px;
    border-radius:100%;
    text-align:center;
    cursor:pointer;
    /*fix opacity*/
    opacity:0;
    color:white;
}

#control3:hover{
    box-shadow:0 0 10px white;    
}

#control4{
    position:absolute;
    border:4px solid none;
    width: 100px;
    height:100px;
    top:356px;
    border-radius:100%;
    text-align:center;
    cursor:pointer;   
    /*fix opacity*/
    opacity:0;
    color:white;
}

#control4:hover{
    box-shadow:0 0 10px white;    
}

#control5{
    position:absolute;
    border:4px solid none;
    width: 100px;
    height:100px;;
    top:473px;
    border-radius:100%;
    text-align:center;
    cursor:pointer;   
    /*fix opacity*/
    opacity:0;   
    color:white;
}

#control5:hover{
    box-shadow:0 0 10px white;    
}

#rainbow{
    margin-top:25px    
}


